html {

}

body {
  background-image: url('connect.png');
  background-repeat: repeat;
  background-size: auto;
}

h1, h2, h3, h4, h5, h6 {

}

h2 {

}

a {
    text-decoration: none;
}
b, strong {

}

samp {

}

img {

}
#wrapper {
	
}
div {
    
}
a:link {
  text-decoration: none ;
  color:white;
} 

#maintxt {
    padding-top: 4%;
    padding-bottom: 1%;
    margin: 0;
}
#maintxt2 {
    padding-top: 4%;
    padding-bottom: 1%;
    margin: 0;
}
#CurrentProjects {
    padding-top: 4%;
    padding-bottom: 25%;
    margin: 0;
}
#menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:#FFFFE0;
    color:black;
    border:2px solid #BDB76B;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    font-weight: bold;
    
}
#menu a {
    border: 1px solid white;
    text-align: center;
    background-color:#BDB76B;
    color:white;
    box-sizing: inherit;
}

@media only screen and (max-width: 1600px) {
    #menu {
        grid-template-columns: 1fr;
        grid-template-rows; 2em 2em 2em 2em;
        
    }
}
